/*estrutura do site*/

body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}
*{
    margin: 0;
    padding: 0;
}
.logomarca{
    position: relative;
    right: 500px;
    top: 15px;
}

#menu{
    border: 1px solid red;
    background-image: url(imagens/fundo\ poster.jpg);
    width: 100%;
    height: 150px;
    text-align: center;



}


a{   font-weight: bold;
     color: aliceblue !important;
     text-decoration: none !important;
     font-size: 22px;
     position: relative;
     top: -60px;
     padding: 5px;

}
.fundo1{
    border: 1px solid red;
    width: 100%;
    height: 50px;
    position: relative;
    top: 100px;
}

#cabecalho{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;


}
#principal{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}
.mensagem1{
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 24px;
    font-size: 24px;

}

.poster1{
    border: 1px solid red;
    background-image: url(imagens/fundo\ poster.jpg);
    float: right;
    margin: 50px;
    position: relative;
    right: 23px;
    bottom: 12px;

}
.texto1{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.poster2{
    border: 1px solid red;
    width: 330px;
    height: 380px;
    background-image: url(imagens/fundo\ poster.jpg);
    float: right;
    margin: 50px;
    position: relative;
    right: 25px;
    bottom: 12px;
}
.texto2{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.poster3{
    border: 1px solid red;
    background-image: url(imagens/fundo\ poster.jpg);
    width: 330px;
    height: 380px;
    float: right;
    margin: 50px;
    position: relative;
    right: 23px;
    bottom: 12px;
}
.texto3{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.mensagem2{
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    bottom: 48px;
    font-size: 24px;



}
.poster4{
    border: 1px solid red;
    background-image: url(imagens/fundo\ poster.jpg);
    float: right;
    margin: 50px;
    position: relative;
    right: 23px;
    bottom: 84px;
}
.texto4{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.poster5{
    border: 1px solid red;
    width: 330px;
    height: 380px;
    background-image: url(imagens/fundo\ poster.jpg);
    float: right;
    margin: 50px;
    position: relative;
    right: 25px;
    bottom: 84px;
}
.texto5{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.poster6{
    border: 1px solid red;
    background-image: url(imagens/fundo\ poster.jpg);
    width: 330px;
    height: 380px;
    float: right;
    margin: 50px;
    position: relative;
    right: 23px;
    bottom: 84px;
}
.texto6{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.mensagem3{
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    bottom: 72px;
    font-size: 24px;



}


#rodape{
    clear: both;
    border: 2px solid orange;
    padding: 70px;
    background-image: url(imagens/fundo\ rodape.jpg);


}
.zap{
    text-align: center;
    position: relative;
    top: 10px;

}
.direitos{
    color: aliceblue;
    text-align: center;
    position: relative;
    bottom: 40px;
    font-size: 18px;
}
.email{
    text-align: center;
    color: aliceblue;
    position: relative;
    bottom: 30px;
    font-size: 18px;
}
.telefone{
    text-align: center;
    color: aliceblue;
    position: relative;
    bottom: 20px;
    font-size: 20px;
}
.endereco{
    text-align: center;
    color: aliceblue;
    position: relative;
    bottom: 20px;
    font-size: 20px;
}
